/* line 1, /Users/y/work/tnk/source/css/all.css.sass */
#index {
  padding: 100px;
  line-height: 20px; }
  /* line 4, /Users/y/work/tnk/source/css/all.css.sass */
  #index dl {
    margin-bottom: 30px; }
