@charset "UTF-8";
/* line 28, /Users/y/work/tnk/source/css/asmart/styles.css.sass */
html {
  height: 100%; }

/* line 31, /Users/y/work/tnk/source/css/asmart/styles.css.sass */
body {
  background: #222;
  font-family: HelveticaNeue, Helvetica, "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  color: #eee; }

/* line 36, /Users/y/work/tnk/source/css/asmart/styles.css.sass */
header {
  height: 100px; }
  /* line 38, /Users/y/work/tnk/source/css/asmart/styles.css.sass */
  header h1 {
    padding: 40px 0;
    font-weight: normal;
    letter-spacing: 0.05em;
    font-size: 16px; }

/* line 45, /Users/y/work/tnk/source/css/asmart/styles.css.sass */
a {
  color: #000;
  text-decoration: none; }

/* line 49, /Users/y/work/tnk/source/css/asmart/styles.css.sass */
#menu {
  display: none;
  position: fixed;
  left: 30px;
  top: 100px;
  width: 96px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px; }
  /* line 63, /Users/y/work/tnk/source/css/asmart/styles.css.sass */
  #menu .sites {
    margin-bottom: 20px;
    font-size: 12px; }
    /* line 65, /Users/y/work/tnk/source/css/asmart/styles.css.sass */
    #menu .sites strong {
      font-weight: normal;
      font-size: 20px;
      padding-bottom: 6px; }
  /* line 71, /Users/y/work/tnk/source/css/asmart/styles.css.sass */
  #menu dl {
    overflow: hidden;
    clear: both;
    margin-bottom: 6px; }
    /* line 75, /Users/y/work/tnk/source/css/asmart/styles.css.sass */
    #menu dl dt {
      font-size: 11px;
      margin-bottom: 6px; }
    /* line 79, /Users/y/work/tnk/source/css/asmart/styles.css.sass */
    #menu dl dd {
      font-size: 10px;
      border: 1px solid #ccc;
      padding: 3px; }
  /* line 83, /Users/y/work/tnk/source/css/asmart/styles.css.sass */
  #menu dl.color {
    width: 100px; }
    /* line 85, /Users/y/work/tnk/source/css/asmart/styles.css.sass */
    #menu dl.color dd {
      box-sizing: border-box;
      width: 18px;
      height: 18px;
      font-size: 10px;
      border: 1px solid #ccc;
      float: left;
      margin-right: 1px;
      margin-bottom: 1px; }

/* line 95, /Users/y/work/tnk/source/css/asmart/styles.css.sass */
#contents {
  overflow: hidden;
  zoom: 1;
  height: 100%;
  width: 2032px;
  margin: 0 auto; }
  @media only screen and (max-width: 2032px) {
    /* line 95, /Users/y/work/tnk/source/css/asmart/styles.css.sass */
    #contents {
      width: 1524px; } }
  @media only screen and (max-width: 1524px) {
    /* line 95, /Users/y/work/tnk/source/css/asmart/styles.css.sass */
    #contents {
      width: 1016px; } }
  @media only screen and (max-width: 1016px) {
    /* line 95, /Users/y/work/tnk/source/css/asmart/styles.css.sass */
    #contents {
      width: 80%; } }
  @media only screen and (max-width: 508px) {
    /* line 95, /Users/y/work/tnk/source/css/asmart/styles.css.sass */
    #contents {
      width: 100%; } }
  /* line 115, /Users/y/work/tnk/source/css/asmart/styles.css.sass */
  #contents ul li {
    float: left;
    width: 498px;
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 5px;
    position: relative; }
    @media only screen and (max-width: 1016px) {
      /* line 115, /Users/y/work/tnk/source/css/asmart/styles.css.sass */
      #contents ul li {
        width: 100%;
        margin-left: 0;
        margin-right: 0; } }
    /* line 127, /Users/y/work/tnk/source/css/asmart/styles.css.sass */
    #contents ul li a {
      display: block; }
    /* line 129, /Users/y/work/tnk/source/css/asmart/styles.css.sass */
    #contents ul li figure {
      height: 280px;
      width: 100%;
      position: relative;
      overflow: hidden;
      margin-bottom: 10px;
      background: #333;
      -webkit-border-radius: 1px;
      -moz-border-radius: 1px;
      -ms-border-radius: 1px;
      -o-border-radius: 1px;
      border-radius: 1px; }
      @media only screen and (max-width: 1016px) {
        /* line 129, /Users/y/work/tnk/source/css/asmart/styles.css.sass */
        #contents ul li figure {
          height: 10%; } }
      /* line 144, /Users/y/work/tnk/source/css/asmart/styles.css.sass */
      #contents ul li figure img {
        -webkit-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
        -moz-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
        -o-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
        transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
        width: 100%;
        background: #fff; }
      /* line 156, /Users/y/work/tnk/source/css/asmart/styles.css.sass */
      #contents ul li figure div.box-ad {
        width: 336px;
        margin: 0 auto; }
        @media only screen and (max-width: 508px) {
          /* line 156, /Users/y/work/tnk/source/css/asmart/styles.css.sass */
          #contents ul li figure div.box-ad {
            display: none; } }
        /* line 161, /Users/y/work/tnk/source/css/asmart/styles.css.sass */
        #contents ul li figure div.box-ad ins {
          background: #111; }
      /* line 164, /Users/y/work/tnk/source/css/asmart/styles.css.sass */
      #contents ul li figure div.box-adsp {
        display: none;
        width: 320px;
        margin: 0 auto; }
        @media only screen and (max-width: 508px) {
          /* line 164, /Users/y/work/tnk/source/css/asmart/styles.css.sass */
          #contents ul li figure div.box-adsp {
            display: block; } }
        /* line 170, /Users/y/work/tnk/source/css/asmart/styles.css.sass */
        #contents ul li figure div.box-adsp ins {
          background: #111; }
    /* line 172, /Users/y/work/tnk/source/css/asmart/styles.css.sass */
    #contents ul li a {
      display: block; }
    /* line 175, /Users/y/work/tnk/source/css/asmart/styles.css.sass */
    #contents ul li p {
      text-align: center;
      font-size: 12px;
      letter-spacing: 0.05em; }
    /* line 180, /Users/y/work/tnk/source/css/asmart/styles.css.sass */
    #contents ul li .detail {
      padding: 10px; }
      /* line 183, /Users/y/work/tnk/source/css/asmart/styles.css.sass */
      #contents ul li .detail h2 {
        font-size: 13px;
        margin-bottom: 14px;
        letter-spacing: 0.1em; }
      /* line 187, /Users/y/work/tnk/source/css/asmart/styles.css.sass */
      #contents ul li .detail dl {
        overflow: hidden;
        zoom: 1;
        float: left;
        width: 50%;
        font-size: 11px;
        line-height: 18px; }
        /* line 195, /Users/y/work/tnk/source/css/asmart/styles.css.sass */
        #contents ul li .detail dl dt {
          clear: both;
          float: left;
          min-width: 70px; }
        /* line 199, /Users/y/work/tnk/source/css/asmart/styles.css.sass */
        #contents ul li .detail dl dd {
          float: left; }
          /* line 201, /Users/y/work/tnk/source/css/asmart/styles.css.sass */
          #contents ul li .detail dl dd a {
            color: #fff; }
